$color-background: #707070;
$color-primary: #0d3a3a;
$color-primary-gradient: shade($color-primary, 20%);
$color-accent1: #cecece;
$color-accent2: #601515;
$color-content: #000000;
$color-form: #FFFFFF;

$break-large: 1400px;
$break-medium: 780px;
$break-small: 595px;

$font-family1: 'Proza Libre', sans-serif;