Django==1.10.5
djangoajax==2.3.7
django-cas-ng==3.5.6
django-common-helpers==0.9.0
django-cron==0.5.0
dnspython==1.15.0
dnspython3==1.15.0
google-api-python-client==1.6.2
httplib2==0.10.3
mcstatus==2.1
oauth2client==4.0.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
PyMySQL==0.7.9
python-cas==1.2.0
requests==2.12.4
rsa==3.4.2
simplejson==3.10.0
six==1.10.0
uritemplate==3.0.0
