html {
    font-size: 20px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("//cdn.paper4pc.com/images/underwater-wallpaper-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
    width: 65vw;
}
header > h1 {
    line-height: 30px;
    margin-left: 50px;
    font-size: 3rem;
}
nav > span a {
    font-family: finding-nemo-font, inherit;
    padding:2px 3px 2px 3px;
    margin:2px;
    font-size: 36px;
    color: #ec7030;
    font-weight: 800;
    text-decoration: none;
}

#DutyDisplay {
    background-color: white;
    float: right;
    margin: 15px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    height: 60px;
    width: 300px;
    border: 1px solid black;
}

#DutyContent {
    font-size: 18px;
    font-weight: normal;
}

li {
    list-style: circle;
}

.completed::after{
    color: grey;
    font-size: smaller;
    content: " (done!)"
}

nav > span a:hover {
    background-color: #ec7030;
    color: white;
    font-weight: 800;
}

nav {
    margin: 10px 10px 0px 10px;
    padding: 5px;
    border: 2px solid black;
}

footer {
    font-size: small;
}

@font-face {
	font-family: finding-nemo-font;
	src: url("finding-nemo-font.ttf");
}