#home {
    .posts, .widgets {
        @include omega();
    }

    .posts {
        @include span-columns(8, block-collapse);

        @media screen and (max-width: $break-medium) {
            @include fill-parent();
        }
    }

    .widgets {
        @include span-columns(4, block-collapse);

        .widget {
            .title {
                @include pad(0.2rem);

                font: {
                    weight: 500;
                    size: 1.8rem;
                }
            }

            .content {
                @include margin(0);
                @include pad(0.3rem);

                font: {
                    weight: 400;
                    size: 1.5rem;
                }
            }
        }
        
        @media screen and (max-width: $break-medium) {
            display: none;
        }
    }
}
