#tools {

    .page-content {
        @include span-columns(12);

        .label, .value {
            @include span-columns(6);
            @include omega(2n);
            @include pad(0.5rem);
        }

        .label {
            font-weight: 500;
            text-align: right;
        }

        .online {
            color: green;
        }

        .offline {
            color: red;
        }

        .sub-content {
            @include clearfix();
            
            ol {
                @include span-columns(11);
                @include shift(1);
                margin-bottom: 1.5rem;
            }
        }

        form {
            @include margin(2rem 0);
            label, input, textarea {
                @include omega(2n);
                @include pad(0.5rem);
            }

            .recaptcha {
                @include omega(2n);
                @include pad(0.5rem 0 0 0);
                height: 150px;
            }

            label {
                @include span-columns(5);
                text-align: right;
            }

            input, textarea, div {
                @include span-columns(4);
                @media screen and (max-width: $break-medium) {
                @include span-columns(7);

                }
            }

            textarea {
                resize: vertical;
            }

            input[type="checkbox"] {
                @include margin(0.4rem 0 0 0);
                height: 1.8rem;
            }

            input[type="submit"] {
                @include span-columns(2 of 8);
                @include shift(6 of 8);
                font-size: 1.2rem;
            }

            .message {
                margin: 10px;
                display: none;

                font: {
                    style: italic;
                    size: 1.6rem;
                }
            }

            .error {
                color: red;
            }
        }


        #contact {

            .label {
                @include span-columns(4);
            }

            .value {
                @include span-columns(8);
            }
        }
    }
}
