{% extends "pages/MainWindow.html" %}
{% block title %}Contact Us - D2 Website{% endblock %}

{% block content %}
<p>
    More information will be added to this in the future, but for now you are stuck with just me.
    <br />
    My Email Address: <a href="mailto:krconverse@wpi.edu&subject=D2 Website Question">krconverse@wpi.edu</a>
</p>
<p>
    I am hoping to soon add these features to this page:
</p>
<ul>
    <li>Contact Information for all your RAs (including email and room)</li>
    <li>A way to anonymously contact us (a form built into this page)</li>
    <li>A way to text the current RA on duty (maybe part of the same form)</li>
</ul>
{% endblock %}