{% extends "pages/MainWindow.html" %}
{% block title %}Home - D2 Website{% endblock %}

{% load staticfiles %}

{% block content %}
<img src="{% static "images/marvin.png" %}" style="float: right;width: 200px;" alt="A happy welcome from Marvin of Finding Dory." title="Welcome!"/>
<p>
    Welcome to the <abbr title="Daniels Hall Floor Two">D2</abbr> Website! This site will soon be the home to some useful information for Daniel's Residents.
</p>
<ul>
    <li>A way to contact your RAs.</li>
    <li>A way to virtually meet your RAs.</li>
    <li>A bulletin board containing events on campus.</li>
    <li class="completed">A live tracker to see which RA is on-duty now.</li>
</ul>
{% endblock %}