{% extends "pages/base.html" %}

{% block page-id %}home{% endblock %}
{% block content %}
<section class="posts">
    {% for post in posts %}
    <article class="page-content">
        <h2 class="title">{{ post.title }}</h2>
        <p class="author">by <author>{{ post.author }}</author> on <time datetime="{{ post.date|date:"c" }}">{{ post.date|date:"F jS, Y" }}</time></p>
        <div class="content">
            {{ post.content|safe }}
        </div>
        <img />
    </article>
    {% endfor %}
</section>
<aside class="widgets">
    {% if duty %}
    <div id="duty" class="widget page-content">
        <h3 class="title">Who's on duty?</h3>
        <div class="content">
            {% if duty.name %}<p class="important">{{ duty.name }}</p>{% endif %}
            {% if duty.room %}<p>{{ duty.room }}</p>{% endif %}
            {% if duty.phone %}<p>{{ duty.phone }}</p>{% endif %}
            {% if duty.info %}<p class="important">{{ duty.info }}</p>{% endif %}
        </div>
    </div>
    {% endif %}
    {% if minecraft %}
    <div id="minecraft" class="widget page-content">
        <h3 class="title">Minecraft Server</h3>
        <div class="content">
            {% if minecraft.status %}<p class="important">Server is <em class="{% if minecraft.is_online %}online{% else %}offline{% endif %}">{{ minecraft.status}}</em></p>{% endif %}
            {% if minecraft.address %}<p>Address: {{ minecraft.address }}</p>{% endif %}
            {% if minecraft.players %}<p>Players: {{ minecraft.players.online }}{% if minecraft.players.max %} / {{ minecraft.players.max }}{% endif %}</p>{% endif %}
        </div>
    </div>
    {% endif %}
</aside>
{% endblock %}