{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="{% static "style.css"%}" type="text/css" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>D2 Website</h1>
    </header>
    <nav>
        <span><a href="{% url 'home' %}">Home</a></span>
        <span><a href="{% url 'useful_links' %}">Useful Links</a></span>
        <span><a href="">Meet Your RAs</a></span>
        <span><a href="{% url 'contact_us' %}">Contact Us</a></span>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>Brought to you by <a href="http://www.wpi.edu/offices/rso.html" target="_blank">WPI Residential Services</a></footer>
</body>
</html>