{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="{% static "style.css"%}" type="text/css" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title><script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script>
        function GetRAOnDutyInfo()
        {
            ajaxGet("{% url "duty" %}", { }, function(content) {
                var message = content["name"];
                if (content.hasOwnProperty("phone")) {
                    message += " (" + content["phone"] + ")";
                }
                $("#DutyContent").text(message);
            });
        }
    </script>
</head>
<body onload="GetRAOnDutyInfo();">
    <div id="DutyDisplay">
        Who's on duty?
        <p id="DutyContent">Loading...</p>
    </div>
    <header>
        <h1>D2 Website</h1>
    </header>
    <nav>
        <span><a href="{% url 'home' %}">Home</a></span>
        <span><a href="{% url 'useful_links' %}">Useful Links</a></span>
        <span><a href="{% url 'meet_us' %}">Meet Us</a></span>
        <span><a href="{% url 'contact_us' %}">Contact Us</a></span>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>Currently under contruction.</footer>
</body>
</html>