{% extends "pages/MainWindow.html" %}
{% block title %}Meet Your RAs - D2 Website{% endblock %}


{% block content %}
<section>
    <h1>Daniels 2 Staff</h1>
    <h3>Community Advisors</h3>
    <article><a href="mailto:">Haylea Northcott</a> is the <abbr title="Community Advisor">CA</abbr> for the 19<sup>th</sup> Insight Team, Rooms 201 to 210.</article>
    <article><a href="mailto:">Jason Zhao</a> is the <abbr title="Community Advisor">CA</abbr> for the 20<sup>th</sup> Insight Team, Rooms 211 to 219.</article>
    <article><a href="mailto:">Whitney Davis</a> is the <abbr title="Community Advisor">CA</abbr> for the 21<sup>th</sup> Insight Team, Rooms 220 to 230.</article>
    <h3>Insight Advisors</h3>
    <article><a href="mailto:lrosen@wpi.edu">Laura Rosen</a> is the <abbr title="Insight Advisor">IA</abbr> for the 19<sup>th</sup> Insight Team, Rooms 201 to 210.</article>
    <article><a href="mailto:eperlow@wpi.edu">Emily Perlow</a> is the <abbr title="Insight Advisor">IA</abbr> for the 20<sup>th</sup> Insight Team, Rooms 211 to 219.</article>
    <article><a href="mailto:erikastone@wpi.edu">Erika Hanlan</a> is the <abbr title="Insight Advisor">IA</abbr> for the 21<sup>th</sup> Insight Team, Rooms 220 to 230.</article>
    <h3>Residential Advisors</h3>
    <article><a href="mailto:">Kyle Young</a> is the <abbr title="Residential Advisor">RA</abbr> for the 19<sup>th</sup> and 20<sup>th</sup> Insight Team, Rooms 201 to 219.</article>
    <article><a href="mailto:">Kodey Converse</a> is the <abbr title="Residential Advisor">RA</abbr> for the 21<sup>th</sup> Insight Team, Rooms 220 to 230.</article>
</section>
<section>
    <h1>Daniels 3 Staff</h1>
    <h3>Community Advisors</h3>
    <article><a href="mailto:">Mary Sheehan</a> is the <abbr title="Community Advisor">CA</abbr> for the 22<sup>nd</sup> Insight Team, Rooms 301 to 310.</article>
    <article><a href="mailto:">Deb Lopes</a> is the <abbr title="Community Advisor">CA</abbr> for the 23<sup>rd</sup> Insight Team, Rooms 311 to 320.</article>
    <article><a href="mailto:">Taylor Venter</a> is the <abbr title="Community Advisor">CA</abbr> for the 24<sup>th</sup> Insight Team, Rooms 321 to 330.</article>
    <h3>Insight Advisors</h3>
    <article><a href="mailto:">Colleen Callahan-Panday</a> is the <abbr title="Insight Advisor">IA</abbr> for the 22<sup>nd</sup> Insight Team, Rooms 301 to 310.</article>
    <article><a href="mailto:">Ken Stafford</a> is the <abbr title="Insight Advisor">IA</abbr> for the 23<sup>rd</sup> Insight Team, Rooms 311 to 320.</article>
    <article><a href="mailto:">Erika Hanlan</a> is the <abbr title="Insight Advisor">IA</abbr> for the 24<sup>th</sup> Insight Team, Rooms 321 to 330.</article>
    <h3>Residential Advisors</h3>
    <article><a href="mailto:">Lauren Getz</a> is the <abbr title="Residential Advisor">RA</abbr> for the 22<sup>nd</sup> and 23<sup>rd</sup> Insight Team, Rooms 301 to 320.</article>
    <article><a href="mailto:">Mark DellaCroce</a> is the <abbr title="Residential Advisor">RA</abbr> for the 24<sup>th</sup> Insight Team, Rooms 321 to 330.</article>
</section>
<section>
    <h1>Daniels 4 Staff</h1>
    <h3>Community Advisors</h3>
    <article><a href="mailto:">Toni Joy</a> is the <abbr title="Community Advisor">CA</abbr> for the 25<sup>th</sup> Insight Team, Rooms 401 to 410.</article>
    <article><a href="mailto:">Rachel Heard</a> is the <abbr title="Community Advisor">CA</abbr> for the 26<sup>th</sup> Insight Team, Rooms 411 to 419.</article>
    <article><a href="mailto:">Bobby LaFlamme</a> is the <abbr title="Community Advisor">CA</abbr> for the 27<sup>th</sup> Insight Team, Rooms 420 to 430.</article>
    <h3>Insight Advisors</h3>
    <article><a href="mailto:">Adrienne Hall Phillips</a> is the <abbr title="Insight Advisor">IA</abbr> for the 25<sup>th</sup> Insight Team, Rooms 401 to 410.</article>
    <article><a href="mailto:">Dr. Traver</a> is the <abbr title="Insight Advisor">IA</abbr> for the 26<sup>th</sup> Insight Team, Rooms 411 to 419.</article>
    <article><a href="mailto:">John Delorey</a> is the <abbr title="Insight Advisor">IA</abbr> for the 27<sup>th</sup> Insight Team, Rooms 421 to 430.</article>
    <h3>Residential Advisors</h3>
    <article><a href="mailto:">Lauren Getz</a> is the <abbr title="Residential Advisor">RA</abbr> for the 25<sup>th</sup> and 26<sup>th</sup> Insight Team, Rooms 401 to 419.</article>
    <article><a href="mailto:">Sam Coache</a> is the <abbr title="Residential Advisor">RA</abbr> for the 27<sup>th</sup> Insight Team, Rooms 420 to 430.</article>
</section>
{% endblock %}

