{% extends "pages/MainWindow.html" %}
{% block title %}Useful Links - D2 Website{% endblock %}

{% block content %}
<h2>WPI Related</h2>
<article>
    <ul>
        <li>The <a href="https://www.wpi.edu" target="_blank">WPI Homepage</a> is good if you need to find a resource that is WPI related.</li>
        <li><a href="https://my.wpi.edu" target="_blank">myWPI</a> is one of the <abbr title="Learning Management System">LMS</abbr> used by professors to post content to students.</li>
        <li><a href="https://canvas.wpi.edu" target="_blank">Canvas</a> is the brand new <abbr title="Learning Management System">LMS</abbr> that will fully replace myWPI next year.</li>
        <li><a href="https://bannerweb.wpi.edu" target="_blank">Bannerweb</a> is the Web Information System that is used for tasks from Registration to Goat Bucks.</li>
        <li><a href="https://adfs.wpi.edu/adfs/ls/?username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&RedirectToIdentityProvider=http%3a%2f%2fadfs.wpi.edu%2fadfs%2fservices%2ftrust" target="_blank">Outlook 365</a> can be used to access your email online.</li>
        <li>The <a href="https://help.wpi.edu" target="_blank">Service Desk</a> is useful for all things related to computers and your WPI accounts.</li>
    </ul>
</article>
<hr />
<h2>Other</h2>
<article>
    <ul>
        <li>This <a href="https://www.cuteness.com/" target="_blank">Secret Website</a> is great for stressful days.</li>
    </ul>
</article>
{% endblock %}