{% extends "pages/base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block page-id %}tools{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=recaptcha&render=explicit'></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script type="text/javascript">
    function initialize() {
        $('form').submit(function (event) {
            messageBox = $('.message', this);
            submitButton = $('input[type="submit"]', this).prop('disabled', true);
            ajaxMethod($(this).attr('method'), $(this).attr('action'), $(this).serialize(), function(content) {
                messageBox.html(content['message']).hide().slideDown().delay(5000).slideUp();
                if (content['is_error']) {
                    // the incomming message is an error
                    messageBox.addClass('error');
                } else {
                    messageBox.removeClass('error');
                }
                submitButton.removeAttr('disabled');
                messageBox = $('.message', this);
                grecaptcha.reset(0);
                grecaptcha.reset(1);
            });
            event.preventDefault();
        });
    }
    $(document).ready(function () {
        initialize();
    });
    var recaptcha = function() {
        data = { 'sitekey' : '{{ recaptcha_site_key }}', 'size' : 'compact' }
        grecaptcha.render('contact-recaptcha', data);
        grecaptcha.render('minecraft-recaptcha', data);
    }
</script>
{% endblock %}
{% block content %}
<div id="contact" class="page-content">
    <h2 class="title">Contact</h2>
    <section class="content">
        <div class="sub-content">
            <div class="important label">Resident Advisor on Duty</div>
            <div class="value">
                {% if duty.name %}<p>{{ duty.name }}</p>{% endif %}
                {% if duty.room %}<p>{{ duty.room }}</p>{% endif %}
                {% if duty.phone %}<p>{{ duty.phone }}</p>{% endif %}
                {% if duty.info %}<p>{{ duty.info }}</p>{% endif %}
            </div>
            <div class="label">WPI Campus Police</div>
            <div class="value">
                <p>(508) 831-5555 (emergency)</p>
                <p>(508) 831-5433 (non-emergency)</p>
            </div>
            <div class="label">WPI Health Services</div>
            <div class="value">
                <p>(508) 831-5520 (main)</p>
                <p>(508) 334-8830 (on-call)</p>
            </div>
        </div>
        {% if contact_form %}
        <h3 class="subtitle">Send Us a Message</h3>
        <div class="sub-content">
            <form id="contact-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="contact_form" />
                {{ contact_form.form }}
                <label>Robot Check:</label>
                <div id="contact-recaptcha" class="recaptcha"></div>
                <p class="message"></p>
                <input type="submit" value="Send" />
            </form>
        </div>
        {% endif %}
    </section>
</div>
    
<div id="minecraft" class="page-content">
        <h2 class="title">Minecraft Server</h2>
    <section class="content">
        <h3 class="subtitle">Status</h3>
        <div class="sub-content">
            {% if minecraft_status.status %}
            <div class="label">Status</div>
            <div class="value {% if minecraft_status.is_online %}online{% else %}offline{% endif %}">{{ minecraft_status.status }}</div>
            {% endif %}
            {% if minecraft_status.version %}
            <div class="label">Version</div>
            <div class="value">Minecraft {{ minecraft_status.version }}</div>
            {% endif %}
            {% if minecraft_status.address %}
            <div class="label">Address</div>
            <div class="value">{{ minecraft_status.address }}</div>
            {% endif %}
            {% if minecraft_status.players %}
            <div class="label">Players</div>
            <div class="value">{{ minecraft_status.players.online }}{% if minecraft_status.players.max %} / {{ minecraft_status.players.max }}{% endif %}</div>
            {% endif %}
            {% if minecraft_status.date %}
            <div class="label">Last Checked</div>
            <div class="value">{{ minecraft_status.date|naturaltime }}</div>
            {% endif %}
        </div>
        <h3 class="subtitle">Rules</h3>
        <div class="sub-content">
            <ol>
                <li>No Griefing</li>
                <li>No Cheating</li>
                <li>Be Nice</li>
            </ol>
            <div class="disclaimer">
                <p>Users violating the rules will be banned permenantly.</p>
            </div>
        </div>
        <h3 class="subtitle">How to Play</h3>
        <div class="sub-content">
            <p>To play on the {{ website_title }} Minecraft server, follow these instructions.</p>
            <p class="disclaimer">If you have bought the game, skip step 2.</p>
            <ol>
                <li>Register a in-game username below.</li>
                <li>Download a free Minecraft launcher <a href="{% static 'Minecraft.exe' %}">here (for Windows)</a> or <a href="{% static 'Minecraft.jar' %}">here (for Mac/Linux)</a>.</li>
                <li>Add the username that you registered to the launcher.</li>
                {% if minecraft_status.version %}<li>Start the game in version <strong>{{ minecraft_status.version }}</strong>.</li>{% endif %}
                <li>Add {% if minecraft_status.address %}<strong>{{ minecraft_status.address }}</strong>{% else %}the server{% endif %} to the multiplayer menu.</li>
                <li>Connect to the server and enter your registered password.</li>
            </ol>
        </div>
        <h3 class="subtitle">Registration</h3>
        <div class="sub-content">
            {% if minecraft_form %}
            <p>Use the form below to register or change your Minecraft registration.</p>
            <p class="disclaimer">You cannot change your username after choosen.</p>
            <p class="disclaimer">Your password will be stored in plain text, so don't choose something too secret!</p>
            <form id="minecraft-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="minecraft_form" />
                {{ minecraft_form.form }}
                <label>Robot Check:</label>
                <div id="minecraft-recaptcha" class="recaptcha"></div>
                <p class="message">{% if minecraft_form.message %}{{ minecraft_form.message }}{% endif %}</p>
                <input type="submit" value="{{ minecraft_form.action|title }}" />
            </form>
            {% else %}
            <p class="disclaimer">You can't register a user. Are you signed in?</p>
            {% endif %}
        </div>
    </section>
    </div>
{% endblock %}