$color-background: #2D2D2D;
$color-primary: #0063b9;
$color-primary-gradient: shade($color-primary, 20%);
$color-accent1: #1E1E1E;
$color-accent2: #CA5100;
$color-content: #F1F1F1;
$color-form: #FFFFFF;

$break-large: 1400px;
$break-medium: 780px;
$break-small: 595px;

$font-family1: 'Proza Libre', sans-serif;